<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="alt">

                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            <header class="major">
                                <h1>{{ .Title}}</h1>
                            </header>
                            {{ if .Params.image }}
                            <span class="image main"><img src="{{ .Site.BaseURL }}img/{{ .Params.image }}" alt="" /></span>
                            {{ end }}

                            {{ if and (not .IsHome) .Slug }}
                            <p><a href="javascript::void(0);" class="button special icon fa-search-plus" onclick="installSearchEngine('https://gitlab.com/salim_b/opensearch_plugins/raw/master/{{ .Slug }}.xml');">Add this search plugin to my browser</a></p>
                            {{ end }}

                            {{ .Content }}

                        </div>
                    </section>
            </div>

        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>

</html>
