{{ "<!-- Footer -->" | safeHTML}}
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                {{ range .Site.Params.Footer.social }}
                    <li><a href="{{ .url }}" class="icon alt {{ .icon }}" target="_blank"><span class="label">{{ .label }}</span></a></li>
                {{ end }}
            </ul>
            <ul class="copyright">
                {{ range .Site.Params.Footer.copyright}}
                <li>&copy; <a href="{{ .url }}" target="_blank">{{ .text }}</a></li>
                {{ end }}
                <li>Site generated with <a href="https://gohugo.io/" target="_blank">Hugo</a></li>
                {{ range .Site.Params.Footer.quicklinks}}
                <li>{{ .text }} <a href="{{ .url }}" target="_blank">{{ .alt }}</a></li>
                {{ end }}
            </ul>
        </div>
    </footer>
