<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
	{{ .Hugo.Generator }}
	<title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
	{{ "<!-- Stylesheets -->" | safeHTML }}
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ "css/main.css" | absURL}}"/>
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "css/ie9.css" }}"/><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "css/ie8.css" }}"/><![endif]-->

	{{ range .Site.Params.custom_css }}
	<link rel="stylesheet" href="{{ . | absURL }}">
	{{ end }}

	{{ "<!-- Custom Fonts -->" | safeHTML }}
	<link href="{{ "css/font-awesome.min.css" | absURL }}" rel="stylesheet" type="text/css">

	{{ with .Site.Params.favicon }}
	<link rel="shortcut icon" type="image/x-icon" href="{{ . | absURL }}">
	<link rel="icon" type="image/x-icon" href="{{ . | absURL }}">
	{{ end }}

	{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
	{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
	{{ "<!--[if lt IE 9]>" | safeHTML }}
	<script src="js/ie/html5shiv.js"></script>
	<script src="js/ie/html5shiv.jsrespond.min.js"></script>
	{{ "<![endif]-->" | safeHTML }}

	{{ if not .IsHome }}
	<link rel="search" type="application/opensearchdescription+xml" title="{{ .Title }}" href="https://gitlab.com/salim_b/opensearch_plugins/raw/master/{{ .Slug }}.xml">
	{{ end }}

	<script src="{{ "js/custom.js" | absURL }}"></script>

</head>
